.about-wrap {
    display: flex;
    flex-direction: column;
    background-color: rgb(95 , 89 , 68, .6);
    color: #fff;
    border-top: 10px double rgb(95 , 89 , 68,);
    border-bottom: 10px double rgb(95 , 89 , 68,);
    .about-title {
        margin: 30px auto 20px auto;
        font-size: 72px;
        font-weight: bold;

        @include mobile-less() {
            font-size: 40px;
        }
    }
    hr {
        width: 90%;
    }
    .about-context {
        margin-top: 30px;
        font-size: 24px;
        line-height: 2.3;
        text-align: center;
        padding: 0 100px 50px 100px;

        @include mobile-less() {
            font-size: 18px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.swiper-wrap {
    position: relative;
    margin: 0 auto 20px auto;
    padding-top: 20px;
    background-color: rgba(95, 89, 68, 0.4);
    .swiper-container {
        padding-bottom: 20px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 4px;
    }
    .swiper-img {
        width: 250px;

        @include pad-pro-less() {
            width: 170px;
        }

        @include mobile-less() {
            width: 160px;
        }
    }
}

.title-word {
    font-family: cursive;
    // animation: color-animation 4s linear infinite;
    color: #000000;
}
  
.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}
.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
.title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
.title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}
.title-word-5 {
    --color-1: #ACCFCB;
    --color-2: #17494D;
    --color-3: #3D8DAE;
}
  
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}


.lineUp {
    animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
