.web-header {
    .header-content {
        height: 170px;
        .banner {
            width: 100%;
            height: inherit;
            margin: auto;
            background-image: url('@/assets/images/banner.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            opacity: .2;
        }
        .logo {
            width: 190px;
            height: inherit;
            margin: auto;
            background-image: url('@/assets/images/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    
}

.web-nav {
    display: flex;
    background-color: $primary-color;
    width: 100%;
    justify-content: center;
    padding: 5px 0px;
    box-shadow: 0px 2px 1px $gray-color;
    .nav-item {
        padding: 10px 30px;
        font-weight: bold;
        color: #fff;
        &.dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .dropdown-content {
                    display: block;
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                min-width: 200px;
                top: 40px;
                left: 0px;
                background-color: $gray-color;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                .content-list {
                    border-bottom: 1px solid #fff;
                    padding: 10px 0;
                    text-align: center;
                    .dropdown-item {
                        display: none;
                    }
                    &:hover {
                        background-color: rgb(223, 223, 168);
                        .dropdown-item {
                            display: block;
                            position: absolute;
                            min-width: 200px;
                            background-color: $gray-color;
                            left: 200px;
                            top: 3%;
                            .item-list {
                                border-bottom: 1px solid #fff;
                                text-align: center;
                                padding: 10px 0;
                                &:hover {
                                    background-color: rgb(223, 223, 168)
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}