.web-header {
    .header-content {
        height: 170px;
        position: relative;
        .banner {
            width: 100%;
            height: inherit;
            margin: auto;
            background-image: url('@/assets/images/banner.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: .3;
        }
        .logo {
            width: 190px;
            height: inherit;
            margin: auto;
            background-image: url('@/assets/images/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
    }
    
}

.web-nav {
    background-color: $primary-color;
    height: 60px;
    box-shadow: 0px 2px 1px $gray-color;
    .nav-list {
        display: flex;
        max-width: 1200px;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .nav-wrap {
            height: 100%;
            &:hover {
                border: 1px solid rgba(255, 255, 255, .7);
                background-color: rgba(0, 0, 0, .7);
                color: #fff;
            }
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0px 60px;
                font-weight: bold;
                color: #000000;
                i {
                    margin-right: -1em;
                    transform: scale(0);
                    transition: .2s;
                }
                &:hover {
                    color: #fff;
                    i {
                        margin-right: 0;
                        transform: scale(1);
                    }
                }
                &.dropdown {
                    position: relative;
                    &:hover {
                        cursor: pointer;
                        .dropdown-content {
                            display: block;
                        }
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 220px;
                        top: 60px;
                        background-color: rgba(157, 151, 123, .7);
                        box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
                        z-index: 2;
                        .content-list {
                            border-bottom: 1px solid #fff;
                            text-align: center;
                            padding: 10px;
                            .dropdown-item {
                                display: none;
                            }
                            &:hover {
                                background-color: rgb(95, 89, 68, .7);
                                .dropdown-item {
                                    display: block;
                                    position: absolute;
                                    min-width: 220px;
                                    background-color: rgba(157, 151, 123, .7);
                                    left: 100%;
                                    transform: translateY(-10px);
                                    .item-list {
                                        border-bottom: 1px solid #fff;
                                        text-align: center;
                                        padding: 10px;
                                        &:hover {
                                            background-color: rgb(95, 89, 68, .7);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                @include pad-pro-less() {
                    max-width: 120px;
                    padding: 0px 2.5rem;
                }
            }
        }

        @include pad-pro-less() {
            max-width: 1024px;
        }
        
        @include mobile-less() {
            display: none;
        }
    }
    
    .nav-bar {
        display: none;

        @include mobile-less() {
            display: block;
            text-align: center;
            transform: translateY(100%)
        }
    }

    .dropdown-content-mobile {
        position: relative;
        width: 80%;
        top: 22px;
        left: 10%;
        background-color: #fff;
        text-align: center;
        z-index: 100;
        transition: height .5s ease;
        .nav-item-mobile {
            color: #000000;
            padding: 10px 0;
            border-bottom: dotted 1px #000000;
            &:last-child {
                border-bottom: none;
            }
            i {
                position: absolute;
                right: 25px;
            }
            .dropdown-item-mobile {
                position: relative;
                top: 10px;
                box-shadow: 0 0 3px gray;
                background-color: #E6E4E4;
                .item-list-mobile {
                    padding: 10px 0;
                    border-bottom: solid 1px #000000;
                    &:last-child {
                        border-bottom: none;
                    }
                    .item-type-mobile {
                        position: relative;
                        top: 10px;
                        padding: 10px 0;
                        border-top: dotted 1px #000000;
                        background: #fff;
                    }
                }
            }
        }
    }
}