.header-wrap {
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  align-items: center;
  position: relative;
}

.content-wrap {
  background-color: #FEF8D8;
  padding-bottom: 25px;
}

.content {
  max-width: 1320px;
  margin: 3px auto 0 auto;

  @include pad-pro-less() {
    max-width: 1024px;
  }

  @include mobile-less() {
    max-width: 765px;
  }
}