html {
    font-family:
        "Microsoft JhengHei",
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    font-size: 16px;
    height: 100%;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
}
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }
@import '@/assets/css/reset.scss';
@import '@/assets/css/variable.scss';
@import '@/assets/css/rwd.scss';
@import '@/assets/css/base.scss';
@import '@/assets/css/login.scss';
@import '@/assets/css/common.scss';

@import '@/assets/css/layout/member_focus.scss';

@import '@/assets/css/web/header.scss';
@import '@/assets/css/web/footer.scss';
@import '@/assets/css/web/about.scss';
@import '@/assets/css/web/products.scss';
@import '@/assets/css/web/info.scss';
@import '@/assets/css/web/problem.scss';
@import '@/assets/css/web/detail.scss';