.function-bar {
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    .left-bar {
        align-items: center;
        .i-search {
            border: 1px rgb(167, 164, 170) solid;
            border-radius: 5px;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            height: 40px;
            margin-right: 20px;
            background-color: #fff;
            input {
                width: 235px;
                border: 0;
                outline: none;
                padding-right: 10px;
            }
            div {
                padding: 5px;
            }
        }
        .i-checkbox {
            transform: scale(1.5);
            margin-right: 13px;
            &:after {
                content: '';
                background-color: green;
            }
        }
    }
    .right-bar {
        grid-template-columns: 1.2fr 1.2fr 1fr;
        .bar-item {
            padding: 10px 12.5px;
            margin: auto 7.5px;
            border: 1px rgb(62, 214, 219) solid;
            border-radius: 5px;
            color: rgb(167, 164, 170);
            align-items: center;
            justify-content: center;
            max-width: 115px;
            background-color: #fff;
            .update-time {
                position: absolute;
                top: 100px;
                font-size: 14px
            }
        }
        .bar-item:nth-child(1) {
            @extend .bar-item;
            height: 25px;
            color: white;
            background-color: rgb(62, 214, 219);
        }
    }
}

.table-block {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(219, 236, 236);
        border: 1px solid rgb(157, 229, 235);
        .title {
            color: rgb(63, 212, 218);
        }
    }
    .title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .pin-icon {
        width: 20px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('@/assets/images/pin-gray.png');
        &.is-pinned {
            background-image: url('@/assets/images/pin-green.png');
        }
    }
}

.t-pagiantion {
    margin-bottom: 5px;
}

.detail-head {
    padding: 15px 10px;
    input {
        margin: 5px;
        border: 1px solid rgb(157, 229, 235);
        border-radius: 3px;
    }
    .ts-style {
        text-align: right;
        margin: 0 40px;
    }
    .creator-style {
        text-align: right;
        margin: 0 50px;
    }
    .member-style {
        background-color: rgb(219, 236, 236);
        border: 1px solid rgb(157, 229, 235);
        border-radius: 3px;
        text-align: right;
        padding: 0 10px 0 50px;
        margin: 0 15px;
    }
}

.b-shadow {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}